/*  */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

img {
    width: 100%;
    height: 100%;
}

.content {
    width: 640px;
    height: 1030px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content>li {
    /* width: 100%;
    height: 100%; */
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}

.music {
    position: absolute;
    top: 1%;
    right: 1%;
    width: 11%;
    height: 5%;
    z-index: 999;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music_img {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
}

.music_img_page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
}

.music_img>.music_img_page>img {
    width: 90%;
    height:90%;
    /* border-radius: 50%; */
}

.music_img_page_stop {
    width: 100%;
    height: 3px;
    background-color: #c6c2c2;
    position: absolute;
    /* 旋转65度 */
    transform: rotate(65deg);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.musicRotate {
    animation: rotate 10s linear infinite;
    /* 持续10秒，线性运动，无限循环 */
}

.music_img_audio {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.music_img_audio>audio {
    width: 100%;
    height: 100%;
    display: none;
}

.music_img_page>img {
    width: 100%;
}
/* .music-img{
    width: 30px;
    height:30px;
    z-index: 20;
    position: fixed;
    top: 10px;
    right: 5px;

}
.music-play{
    width: 30px;
    height:30px;
    z-index: 20;
    position: fixed;
    top: 10px;
    right: 5px;

}
.Music-controls{
    width: 30px;
    height: 30px;
    position: fixed;
    top: 10px;
    right: 5px;
    
}
.music_img_page_stop {
    width: 164%;
    height: 3px;
    background-color: rgb(176, 176, 161);
    position:absolute;
    top: 13px;
    right: -10px;
    transform: rotate(65deg);
    opacity: 1;
}
music-stop{
    opacity: 0;
}
.musicRotate{
    animation: rotate 1s linear infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
} */

/* 第一个页面 */
.one-page {
    background-color: #fcfbe8;
    z-index: 15;
    display: flex;
    justify-content: center;
}

/* 元素透明 */
@keyframes opac {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

/* 背景 */
.one-page-content {
    /* 371 */
    width: 57%;
    /* 454px */
    height: 44%;
    position: absolute;
    top: 30%;
    left: 26%;
}

/* 卷轴 590*267  */
.juanzhou {
    width: 92%;
    height: 20%;
    position: absolute;
    top: 3%;
    left: 50%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
}

.left {
    width: 10%;
    /* height: 26%; */
    position: relative;
    z-index: 2;
}
.left > img{
    width: 100%;
}
.center {
    /* width: 80%; */
    height: 70%;
    position: relative;
    top: -1%;
    left: -2%;
    background-image: url("../images/one/center.png");
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    animation: centerani 2s linear forwards;

}

@keyframes centerani {
    0% {
        width: 0;
    }

    100% {
        width: 85%;
    }
}



.text1 {
    width: 58%;
    height: 58%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    opacity: 0;
    animation: text1ani 1s linear forwards 2s;
}

@keyframes text1ani {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.right {
    width: 10%;
    /* height: 26%; */
    position: relative;
    left: -3.2%;

}
.right > img{
    width: 100%;
}

/* 人 */
.one-people {
    /* 249X360 */
    width: 38%;
    height: 34%;
    position: absolute;
    /* left: 5%; */
    bottom: 29%;
    animation: sli 3s linear forwards;
}

@keyframes sli {
    0% {
        left: 10%;
    }

    100% {
        /* right: 0; */
        left: 40%;
    }
}


/* 进度条 */
.one-jindu {
    /* 296x48 */
    width: 46%;
    height: 4%;
    /* background-image: url("../images/one/jindu_bg.png"); */
    background-size: cover;
    left: 24%;
    bottom: 25%;
    position: absolute;
}

.one-jindu>.jindu-bg {
    width: 100%;
    /* height: 100%; */
}

.jindu-tiao {
    width: 100%;
    height: 28%;
    background-color: orange;
    position: relative;
    bottom: 42%;
    /* border-radius: 0,0,13px,13px; */
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    background-size: cover;
    animation-duration: 4s;
    animation-name: ani;

}

@keyframes ani {
    from {
        left: 0;
        width: 0;
    }

    to {
        left: 0;
        width: 100%;
    }
}

.one-number {
    width: 100%;
    font-size: 14px;
    color: orange;
    text-align: center;
    position: absolute;
    bottom: 20%;
    left: 0;
}

/* 第二个页面 */
.two-page {
    background-color: #fcfbe8;
    z-index: 14;
    /* display: none; */
}

.tow-paget {
    animation: opac 2s linear forwards;
}

/* 背景 */
.two-page-content {
    /* 577*527 */
    width: 90%;
    height: 51%;
    position: absolute;
    top: 17%;
    left: 5%;
}

/* AD钙奶 87*68 */
.content-AD {
    width: 13%;
    height: 6%;
    position: absolute;
    bottom: 36%;
    right: 44%;
    /* z-index: 2; */
}

/* 张怀民 头157*144 身211*142 名39*84 */
.people-zhang-body {
    width: 32%;
    height: 13%;
    position: absolute;
    right: 19%;
    bottom: 37%;
}

.people-zhang-head {
    width: 24%;
    height: 14%;
    position: absolute;
    right: 21%;
    top: 37%;
    animation: shake1 2s linear infinite;
    transform-origin: center bottom;
}


@keyframes shake1 {
    0% {
        transform: rotate(-5deg);
    }

    25% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    75% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

.people-zhang-name {
    width: 6%;
    height: 8%;
    position: absolute;
    right: 13%;
    bottom: 41%;
    animation: showtow 3s ease-in-out infinite;
}

/* 苏轼 头164*181 身216*137 名38*77 */
.people-su-body {
    width: 33%;
    height: 13%;
    position: absolute;
    left: 20%;
    bottom: 37%;
}

.people-su-head {
    width: 25%;
    height: 17.5%;
    position: absolute;
    left: 24%;
    bottom: 47%;
    animation: shake 2s linear infinite;
    transform-origin: center bottom;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


.people-su-name {
    width: 6%;
    height: 7.4%;
    position: absolute;
    left: 9%;
    bottom: 42%;
    opacity: 0;
    animation: showtow 3s ease-in-out infinite;
}

@keyframes showtow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

/* 开始游戏 按钮 262*122*/
.start-game {
    width: 40%;
    height: 11%;
    position: absolute;
    left: 31%;
    bottom: 19%;
    /* opacity: 0; */
}

.start-gamet {
    animation: scaleXY 1s infinite linear;
}

@keyframes scaleXY {
    0% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.9);
    }

}

/* 字 354*27 */
.text>img {
    width: 55%;
    height: 2.6%;
    position: absolute;
    left: 24%;
    bottom: 14%;
}

/* 第三个页面 */
.three-page {
    width: 100%;
    height: 100%;
    background-color: #fcfbe8;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    z-index: 13;
    justify-content: center;
}

.attAreat {
    width: 100%;
    height: 100%;
    position: relative;
}

/* 4.上 */
.top-img {
    width: 90%;
    height: 54%;
    /* margin-top: 10%; */
    position: absolute;
    top: 2%;
    left: 5%;
    opacity: 0;
}

.top-imgt {
    animation: showtow 1s ease-in-out forwards;
}

@keyframes showtow {
    0% {
        opacity: 0;
        /* 初始状态为完全透明 */
    }

    100% {
        opacity: 1;
        /* 结束时为完全不透明 */
    }
}

.qipao1-img {
    width: 19%;
    height: 9%;
    position: absolute;
    top: 8%;
    left: 11%;
    opacity: 0;

}

/* 图片从左进入 */
.qipao1-imgt {
    animation: enter-x-left 1s ease-in-out ;
    animation-fill-mode: forwards;
    transform: translateX(-50px);
}

@keyframes enter-x-left {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.qipao2-img {
    width: 18%;
    height: 9%;
    position: absolute;
    top: 8%;
    right: 25%;
    opacity: 0;
    /* animation: qipao 1s forwards 3s; */
}

.qipao2-imgt {
    animation: enter-x-left 1s ease-in-out;
    animation-fill-mode: forwards;
    transform: translateX(-50px);
}

.qipao3-img {
    width: 14%;
    height: 6%;
    position: absolute;
    top: 19%;
    right: 27%;
    opacity: 0;
    /* animation: qipao 1s forwards 2s; */
}

/* 图片从右进入 */
.qipao3-imgt {
    animation: enter-x-left 1s ease-in-out ;
    animation-fill-mode: forwards;
    transform: translateX(50px);
}

.text-img1 {
    width: 13%;
    height: 3%;
    position: absolute;
    top: 11.5%;
    left: 14%;
    opacity: 0;
    /* animation: text1 1s forwards 1.4s; */
}

.text-img1t {
    animation: showtow 1s ease-in-out forwards;
}

@keyframes text1 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

.text-img2 {
    width: 13%;
    height: 2.6%;
    position: absolute;
    top: 11.5%;
    right: 27.5%;
    opacity: 0;
    /* animation: text1 1s forwards 3.5s; */
}

.text-img2t {
    animation: showtow 1s ease-in-out forwards;
}

.text-img3 {
    width: 10%;
    height: 3.6%;
    position: absolute;
    top: 20.5%;
    right: 28.5%;
    opacity: 0;
    /* animation: text1 1s forwards 2.5s; */
}

.text-img3t {
    animation: showtow 1s ease-in-out forwards;
}

/* 4.下 */
.bottom-img {
    width: 90%;
    height: 50%;
    margin-bottom: 10%;
    position: absolute;
    top: 47%;
    left: 5%;
    opacity: 0;
    /* animation: text1 1s forwards 4.2s; */
}

.bottom-imgt {
    animation: showtow 1s ease-in-out forwards;
}

.person {
    width: 39%;
    height: 38%;
    position: absolute;
    bottom: 5%;
    left: 34%;
    opacity: 0;
    /* 5s延迟 */

}

.persont {
    animation: person 2s forwards ;
}

@keyframes person {
    from {
        left: 0;
        opacity: 0;
    }

    to {
        opacity: 1;
        right: 40%;
    }
}

.qipao4-img {
    width: 32%;
    height: 15%;
    position: absolute;
    bottom: 23%;
    left: 6%;
    opacity: 0;

}

.qipao4-imgt {
    animation: enter-x-left 1s ease-in-out ;
    animation-fill-mode: forwards;
    transform: translateX(-50px);
}

.find {
    width: 21%;
    height: 5%;
    position: absolute;
    bottom: 29.8%;
    left: 12%;
    opacity: 0;
    /* animation: text1 1s forwards ; */
}

.findt {
    animation: showtow 1s ease-in-out forwards;
}

.gas {
    width: 11%;
    height: 7%;
    position: absolute;
    bottom: 12%;
    left: 12%;
    opacity: 0;

}

.gast {
    animation: opac4 2s linear forwards ;
}

@keyframes opac4 {
    0% {
        left: 0;
        opacity: 1;
        transform: scale(0.5);
    }

    25% {
        opacity: 1;
        transform: scale(0.5);
    }

    50% {
        opacity: 1;
        transform: scale(1);
    }

    75% {
        opacity: 1;
        transform: scale(0.5);
    }

    100% {
        left: 22%;
        opacity: 1;
    }
}

/* 第四个页面 */
.four-page {
    background-color: #fcfbe8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 12;
}

.four-top-bg {
    width: 91%;
    height: 56%;
    position: absolute;
    top: 3.5%;
    left: 4.5%;
    opacity: 0;
}

.four-top-bgt {
    animation: showtow 1s ease-in-out forwards;
}

/* 气泡222*114 字189*36 字189*33 字190*39*/
.four-qipao {
    width: 34%;
    height: 11%;
    position: absolute;
    top: 20%;
    left: 9%;
    opacity: 0;
    /* animation: text1 2s forwards 4s; */
}

.four-qipaot {
    animation: enter-x-left 1s ease-in-out;
    animation-fill-mode: forwards;
    transform: translateX(-50px);
}

.four-text1 {
    width: 27%;
    height: 3%;
    position: absolute;
    top: 22%;
    left: 11%;
    opacity: 0;

}

.four-text1t {
    animation: text1 1s backwards;
}

.four-text2 {
    width: 27%;
    height: 3%;
    position: absolute;
    top: 22%;
    left: 11.5%;
    opacity: 0;

}

.four-text2t {
    animation: text1 1s backwards;
}

.four-text3 {
    height: 3%;
    width: 27%;
    position: absolute;
    top: 22%;
    left: 11%;
    opacity: 0;

}

.four-text3t {
    animation: text1 1s forwards;
}

/* 人224*416 */
.four-top-people {
    width: 35%;
    height: 40%;
    position: absolute;
    top: 18%;
    right: 23%;
    opacity: 0;
    /* 5s延迟 */

}

.four-top-peoplet {
    animation: person1 2s linear forwards;
}

@keyframes person1 {
    from {
        left: 0;
        /* opacity: 0; */
    }

    to {
        opacity: 1;
        left: 40%;
    }
}

/* 咚黄55*64 96*60 80*18 */
.dong1 {
    width: 8.5%;
    height: 6%;
    position: absolute;
    top: 29%;
    right: 18%;
    opacity: 0;

}

.dong1t {
    animation: dong1 0.7s linear backwards 3 1s;
    transform-origin: center bottom;
}

.dong2 {
    width: 15%;
    height: 5.8%;
    position: absolute;
    top: 30%;
    right: 9%;
    opacity: 0;
    /* animation: dong1 0.7s linear backwards 3 3s;
    transform-origin: center bottom;*/
}

.dong2t {
    animation: dong1 0.7s linear backwards 3 1s;
    transform-origin: center bottom;
}

.dong3 {
    width: 10.8%;
    height: 1.8%;
    position: absolute;
    top: 35%;
    right: 11%;
    opacity: 0;
    /* animation: dong1 0.7s linear backwards 3 1s;
    transform-origin: center bottom; */
}

.dong3t {
    animation: dong1 0.7s linear backwards 3 1s;
    transform-origin: center bottom;
}

@keyframes dong1 {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    50% {
        transform: scale(0.5);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes dong {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }

    25% {
        transform: rotate(7deg);
        opacity: 1;
    }

    50% {
        transform: rotate(-7deg);
        opacity: 1;
    }

    75% {
        transform: rotate(7deg);
        opacity: 1;
    }

    100% {
        transform: rotate(-7deg);
        opacity: 1;
    }
}

/* 咚 47*55 65*30 69*38 */
.dong-text1 {
    width: 7%;
    height: 5%;
    position: absolute;
    top: 29%;
    right: 22%;
    opacity: 0;

}

.dong-text1t {
    animation: dong 0.7s linear backwards 3 1s;
    transform-origin: bottom center;
}

.dong-text2 {
    width: 10%;
    height: 2.9%;
    position: absolute;
    top: 37%;
    right: 12%;
    opacity: 0;
    /* animation: dong 0.7s linear backwards 3 3.2s;
    transform-origin: bottom center; */
}

.dong-text2t {
    animation: dong 0.7s linear backwards 3 1s;
    transform-origin: bottom center;
}

.dong-text3 {
    width: 10.8%;
    height: 3.6%;
    position: absolute;
    top: 33%;
    right: 12%;
    opacity: 0;
    /* animation: dong 0.7s linear backwards 3 3.2s;
    transform-origin: bottom center; */
}

.dong-text3t {
    animation: dong 0.7s linear backwards 3 1s;
    transform-origin: bottom center;
}

/* 背景下 583*369 */

.four-bottom-bg {
    width: 91%;
    height: 35%;
    position: absolute;
    bottom: 3.5%;
    left: 4.5%;
    opacity: 0;
    /* 延迟6.5 */

}

.four-bottom-bgt {
    animation: text1 1s forwards;
}

/* zzz 32*41 28*35 23*29 */
.zzz1 {
    width: 5%;
    height: 3.9%;
    position: absolute;
    bottom: 30.5%;
    left: 35.5%;
    opacity: 0;

}

.zzz1t {
    animation: text1 1s forwards infinite;
}

.zzz2 {
    width: 4%;
    height: 3%;
    position: absolute;
    bottom: 33%;
    left: 43%;
    opacity: 0;
}

.zzz2t {
    animation: text1 1s forwards infinite;
}

.zzz3 {
    width: 3%;
    height: 2%;
    position: absolute;
    bottom: 36%;
    left: 48%;
    opacity: 0;

}

.zzz3t {
    animation: text1 1s forwards infinite;
}

/* 黄咚 125*45 136*84 94*107 48*97 */
.dong4 {
    width: 19%;
    height: 4%;
    position: absolute;
    bottom: 34.5%;
    right: 8%;
    opacity: 0;

}

.dong4t {
    animation: dong1 0.7s linear backwards 3;
    transform-origin: top center;
}

.dong5 {
    width: 21%;
    height: 8%;
    position: absolute;
    bottom: 30.2%;
    right: 4.9%;
    opacity: 0;

}

.dong5t {
    animation: dong1 0.7s linear backwards 3;
    transform-origin: top center;
}

.dong6 {
    width: 14%;
    height: 10%;
    position: absolute;
    bottom: 26.8%;
    right: 4.5%;
    opacity: 0;

}

.dong6t {
    animation: dong1 0.7s linear backwards 3;
    transform-origin: top center;
}

.dong7 {
    width: 7.5%;
    height: 9.5%;
    position: absolute;
    bottom: 25%;
    right: 4.8%;
    opacity: 0;
}

.dong7t {
    animation: dong1 0.7s linear backwards 3;
    transform-origin: top center;
}

/* 咚 111*37 */
.dong-text4 {
    width: 17%;
    height: 3.5%;
    position: absolute;
    bottom: 32%;
    right: 6.5%;
    opacity: 0;

}

.dong-text4t {
    animation: dong 0.7s linear backwards 3;
    transform-origin: bottom center;
}

/* 第五个页面 */

/* 背景上587*575 */
.five-page {
    background-color: #fcfbe8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 11;
}

.five-top-bg {
    width: 90%;
    height: 55%;
    position: absolute;
    top: 3%;
    left: 5%;
    opacity: 0;
}

.five-top-bgt {
    animation: showtow 1s ease-in-out forwards;
}

/* 问号 90*41 */
/* 气泡 111*91 */
.five-top-qipao {
    width: 17%;
    height: 8.8%;
    position: absolute;
    top: 21%;
    left: 4%;
    opacity: 0;
}

.wenhao {
    width: 11%;
    height: 3.4%;
    position: absolute;
    top: 22.5%;
    left:6%;
    opacity: 0;

}


.wenhaot {
    animation: dong 1s forwards 1s;
}

/* 头147*179 */
.five-top-head {
    width: 23%;
    height: 17%;
    position: absolute;
    top: 16%;
    left: 23%;
    opacity: 0;
}

.five-top-headt {
    animation: opacrota 2s forwards 0.5s;
    transform-origin: bottom center;
}

@keyframes opacrota {
    0% {
        opacity: 0;
        transform: rotateX(0deg);
    }

    100% {
        opacity: 1;
        transform: rotate(-10deg);
    }
}

/* 身99*223 */
.five-top-body {
    width: 15%;
    height: 21%;
    position: absolute;
    top: 31%;
    left: 29%;
    opacity: 0;

}

.five-top-bodyt {
    animation: text1 1s forwards;
}

/* 背景下585*519 */
.five-bottom-bg {
    width: 91%;
    height: 50%;
    position: absolute;
    bottom: 3%;
    left: 5%;
    opacity: 0;
    /* 延迟6.5 */

}

.five-bottom-bgt {
    animation: text1 1s forwards;
}

/* 人 350*380 */
.five-bottom-body {
    width: 54%;
    height: 36%;
    position: absolute;
    bottom: 3%;
    left: 26%;
    /* opacity: 0; */
}

.five-bottom-bodyt {
    animation: text1 1s forwards linear;
}

@keyframes tela {
    0% {
        opacity: 0;
        transform: translateX(3%);
        /* transform: scale(0.5); */
    }

    25% {
        opacity: 1;
        transform: translateX(2%);
        /* transform: scale(0.7); */
    }

    100% {
        opacity: 1;
        transform: translateX(0);
        /* transform: scale(1); */
    }
}

/* 头 171*158 */
.five-bottom-head {
    width: 26%;
    height: 15%;
    position: absolute;
    bottom: 23.5%;
    right: 23%;
    /* opacity: 0; */

}

.five-bottom-headt {
    animation: diantou 1s ease-in-out forwards 2 2.5s;
    transform-origin: bottom center;
}

.r2 {
    opacity: 0;
}

/* 手 28*31 */
.five-bottom-hand {
    width: 4%;
    height: 3%;
    position: absolute;
    bottom: 21.5%;
    right: 29%;
    opacity: 0;
    /* animation: PAI 1s  ease 4; */
}


/* 光 587*560 */
.five-light {
    width: 91%;
    height: 54%;
    position: absolute;
    bottom: 3%;
    left: 5%;
}

/* 嘴14*13 */
.five-mouth {
    width: 2%;
    height: 1.5%;
    position: absolute;
    bottom: 26%;
    left: 42%;
    opacity: 0;
    /* animation: mouth 1s forwards 2 ;
    transform-origin: center center; */
}

/* @keyframes mouth{
    0%{
        transform: scaleY(0.5);
    }
    50%{
        transform: scaleY(1);
    }
    75%{
        transform: scaleY(0.5);
    }
    100%{
        transform: scaleY(1.2);
    }

} */
/* 奶20*34 */
.five-AD {

    width: 3%;
    height: 3%;
    position: absolute;
    bottom: 16.5%;
    right: 49.5%;
    opacity: 0;

}

.five-ADt {
    animation: text1 1s forwards linear 0.5s;
}

/* 气泡 163*114*/
.five-qipao {
    width: 25%;
    height: 11%;
    position: absolute;
    bottom: 27%;
    left: 6%;
    opacity: 0;


}

.five-qipaot {
    animation: enter-x-left 1s ease-in-out;
    animation-fill-mode: forwards;
    transform: translateX(50px);
}

/* 字 134*67 */
.five-text {
    width: 20%;
    height: 6%;
    position: absolute;
    bottom: 29%;
    left: 8.7%;
    opacity: 0;
}

.five-textt {
    animation: showtow 1s forwards;
}

/* 第六个页面 */
.six-page {
    background-color: #fcfbe8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 10;
}

/* 上 */
/* 背景 585*476 */
.six-top-bg {
    position: absolute;
    width: 91%;
    height: 46%;
    top: 3%;
    left: 4%;
    opacity: 0;

}

.six-top-bgt {
    animation: showtow 1s ease-in-out forwards;
}

/* 背景2 313*385 */
.six-top-bg1 {
    position: absolute;
    width: 48%;
    height: 37%;
    top: 6%;
    left: 4.5%;
    opacity: 0;
    /* animation: showtow 1s ease-in-out forwards 1s; */
}

/* 背景3 582*118 */
.six-top-bg2 {
    position: absolute;
    width: 90%;
    height: 11%;
    top: 38%;
    left: 4%;
    opacity: 0;
    /* animation: showtow 1s ease-in-out forwards 1s; */
}

/* 背景4  161*78*/
.six-top-bg3 {
    position: absolute;
    width: 25%;
    height: 7%;
    top: 42%;
    left: 70%;
    opacity: 0;
    /* animation: showtow 1s ease-in-out forwards 1s; */
}

.r3 {
    opacity: 0;
}

/* 苏轼 217*291 */
.six-top-su {
    position: absolute;
    width: 33%;
    height: 28%;
    top: 18.8%;
    left: 10%;
    /* opacity: 0; */
    /* animation: showtow 1s  forwards 1s ; */
}

/* 张怀民身 224*150 */
.six-top-zhang {
    position: absolute;
    width: 35%;
    height: 14%;
    top: 32%;
    right: 21%;
    /* opacity: 0; */
}

.six-top-zhangt {
    animation: showtow 1s forwards;

}

/* 头 167*152 */
.six-top-zhang-head {
    position: absolute;
    width: 26%;
    height: 14%;
    top: 19%;
    right: 24%;
    /* opacity: 0; */
    /* animation: diantou 1s ease-in-out backwards 2 4s;
    transform-origin:  bottom center; */
}

.six-top-zhang-headt {
    animation: diantou 1s ease-in-out forwards 2 1.8s;
    transform-origin: bottom center;
}

@keyframes diantou {
    0% {
        opacity: 1;
        transform: rotate(0deg);
    }

    50% {
        opacity: 1;
        transform: rotate(-5deg);
    }

    100% {
        /* transform: rotate(0deg); */
    }
}

/* 气泡左 154*119 */
.six-qipao1 {
    position: absolute;
    width: 24%;
    height: 11%;
    top: 10%;
    left: 2%;
    opacity: 0;

}

.six-qipao1t {
    animation: enter-x-left 1s ease-in-out;
    animation-fill-mode: forwards;
    transform: translateX(-50px);
}

/* 左字 122*87 */
.six-text1 {
    position: absolute;
    width: 19%;
    height: 8%;
    top: 11%;
    left: 4%;
    opacity: 0;

}

.six-text1t {
    animation: showtow 1s forwards;
}

/* 气泡右 157*122*/
.six-qipao2 {
    position: absolute;
    width: 24%;
    height: 11%;
    top: 12%;
    right: 8%;
    opacity: 0;

}

.six-qipao2t {
    animation: enter-x-left 1s ease-in-out;
    animation-fill-mode: forwards;
    transform: translateX(50px);
}

/* 右字 82*50 */
.six-text2 {
    position: absolute;
    width: 14%;
    height:5%;
    top: 15%;
    right: 12.5%;
    opacity: 0;

}

.six-text2t {
    animation: showtow 1s forwards;
}

/* ad 115*79 */
.six-top-AD {
    position: absolute;
    width: 18%;
    height: 7%;
    top: 41%;
    right: 42%;
    opacity: 0;
}

/* 下 */

/* 背景583*476 */
.six-bottom-bg {
    position: absolute;
    width: 91%;
    height: 46%;
    bottom: 3%;
    left: 4%;
    opacity: 0;

}

.six-bottom-bgt {
    animation: text1 1s forwards;
}

/* 气泡左148*128 */
.six-qipao3 {
    position: absolute;
    width: 23%;
    height: 12%;
    left: 1%;
    bottom: 36%;
    opacity: 0;

}

.six-qipao3t {
    animation: enter-x-left 1s ease-in-out;
    animation-fill-mode: forwards;
    transform: translateX(-50px);
}

/* 字 118*89 */
.six-text3 {
    position: absolute;
    width: 17%;
    height: 7%;
    left: 3%;
    bottom: 40%;
    opacity: 0;

}

.six-text3t {
    animation: showtow 1s forwards;
}

/* 气泡右 210*165 */
.six-qipao4 {
    position: absolute;
    width: 32%;
    height: 16%;
    right: 1%;
    bottom: 34.5%;
    opacity: 0;

}

.six-qipao4t {
    animation: enter-x-left 1s ease-in-out;
    animation-fill-mode: forwards;
    transform: translateX(-50px);
}

/* 字 118*29 */
.six-text4 {
    position: absolute;
    width: 21%;
    height: 3%;
    right: 8%;
    bottom: 41.5%;
    opacity: 0;
    /* animation: showtow 1s  backwards 10.5s ; */
}

.six-text4t {
    animation: showtow 1s backwards;
}

/* 字2 179*65*/
.six-text5 {
    position: absolute;
    width: 24%;
    height: 5%;
    right: 5.5%;
    bottom: 40.5%;
    opacity: 0;

}

.six-text5t {
    animation: showtow 1s forwards;
}

/* 星1 9*9 */
.star1 {
    position: absolute;
    width: 1.4%;
    height: 0.8%;
    left: 23%;
    bottom: 21%;
    opacity: 0;

}

.start {
    animation: showtow 0.8s forwards infinite;
}

.star4 {
    position: absolute;
    width: 1.4%;
    height: 0.8%;
    left: 25%;
    bottom: 23%;
    opacity: 0;
    /* animation: showtow 0.8s  forwards infinite ; */
}

/* 星2 10*9 */
.star2 {
    position: absolute;
    width: 1.5%;
    height: 0.8%;
    left: 32%;
    bottom: 18%;
    opacity: 0;
    /* animation: showtow 0.8s  forwards infinite ; */
}

.star5 {
    position: absolute;
    width: 1.5%;
    height: 0.8%;
    left: 30%;
    bottom: 20%;
    opacity: 0;
    /* animation: showtow 0.8s  forwards infinite ; */
}

/* 星3 6*7 */
.star3 {
    position: absolute;
    width: 0.9%;
    height: 0.6%;
    left: 22%;
    bottom: 23%;
    opacity: 0;
    /* animation: showtow 0.8s  forwards infinite; */
}

.star6 {
    position: absolute;
    width: 0.9%;
    height: 0.6%;
    left: 20%;
    bottom: 22%;
    opacity: 0;
    /* animation: showtow 0.8s  forwards infinite; */
}

/* 第七页 */
.seven-page {
    background-color: #fcfbe8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 9;
}

/* 上背景 585*381 */
.seven-top-bg {
    width: 91%;
    height: 37%;
    position: absolute;
    top: 4%;
    left: 4%;

    opacity: 0;
}

.seven-top-bgt {
    animation: text1 1s forwards;
}

/* 上人 189*297 */
.seven-people {
    position: absolute;
    width: 29%;
    height: 28%;
    top: 15%;
    left: 24%;

    opacity: 0;
}

.seven-peoplet {
    animation: text1 1s forwards;
}

.r {

    opacity: 0;
}

.rt {
    animation: person 2s forwards;
}

.r1 {
    /* animation: person 2s forwards ;  */
    opacity: 0;
}

/* 上风车 41*41 */
.fengche {
    position: absolute;
    width: 6%;
    height: 4%;
    top: 27%;
    left: 50%;

    /* opacity: 0; */
}

.fengchet {
    animation: xuanzhuan 1s linear infinite;
}

@keyframes xuanzhuan {
    0% {
        opacity: 1;
        transform: rotate(0deg);
    }

    100% {
        /* opacity: 1; */
        transform: rotate(360deg);
    }
}

/* 中背景1 434*387 */
.seven-center-bg1 {
    position: absolute;
    width: 67%;
    height: 37%;
    top: 38%;
    left: 4%;
    opacity: 0;

}

.seven-center-bg1t {
    animation: enter-x-left 1s ease-in-out;
    animation-fill-mode: forwards;
    transform: translateX(-50px);
}

/* 中背景1人382*295 */
.seven-people1 {
    position: absolute;
    width: 59%;
    height: 28%;
    top: 49.5%;
    left: 2%;

    opacity: 0;
}

.seven-people1t {
    animation: text1 1s forwards;
}

/* 中背景2 241*288 */
.seven-center-bg2 {
    position: absolute;
    width: 37%;
    height: 27%;
    top: 36%;
    right: 5%;
    opacity: 0;

}

.seven-center-bg2t {
    animation: enter-x-left 1s ease-in-out;
    animation-fill-mode: forwards;
    transform: translateX(50px);
}

/* 中背景3 241*97 */
.seven-center-bg3 {
    position: absolute;
    width: 37%;
    height: 9%;
    top: 66%;
    right: 5%;
    opacity: 0;

}

.seven-center-bg3t {
    animation: enter-x-left 1s ease-in-out;
    animation-fill-mode: forwards;
    transform: translateX(50px);
}

/* 中背景2 风筝 276*216 */
.fengzheng {

    width: 43%;
    height: 20%;
    position: absolute;
    top: 36%;
    right: 3%;
    opacity: 0;

}

.fengzhengt {
    animation: shake1 2s linear infinite;
    transform-origin: center center;
}

@keyframes shake1 {
    0% {
        opacity: 1;
        transform: rotate(0deg);
    }

    25% {
        opacity: 1;

        transform: rotate(-3deg);
    }

    50% {
        opacity: 1;

        transform: rotate(0deg);
    }

    75% {
        opacity: 1;

        transform: rotate(-3deg);
    }

    100% {

        opacity: 1;
        transform: rotate(0deg);
    }
}

/* 中背景2 陀螺 98*111 */
.tuoluo {
    position: absolute;
    width: 15%;
    height: 10%;
    top: 54%;
    right: 10%;
    opacity: 0;

}

.tuoluot {
    animation: shake1 2s linear forwards infinite;
    transform-origin: center center;
}

/* 中背景2 风车 棍子 77*78 28*118 */

.fengche2 {
    width: 12%;
    height: 7%;
    position: absolute;
    top: 51%;
    right: 29%;
    /* opacity: 0; */
    /* opacity: 0; */
}

.fengche2t {
    animation: xuanzhuan 1s linear infinite;

}

.gunzi {
    position: absolute;
    width: 4%;
    height: 11%;
    top: 56%;
    right: 35.5%;
    opacity: 0;

}

.gunzit {
    animation: shake1 2s linear forwards infinite;
    transform-origin: center center;
}

/* 下背景 587*199 */
.seven-bottom-bg {
    width: 91%;
    height: 19%;
    position: absolute;
    bottom: 4%;
    left: 4%;

    opacity: 0;
}

.seven-bottom-bgt {
    animation: text1 1s forwards;
}

/* 花 30*27 43*26 38*33 34*22 */
.flower1 {
    position: absolute;
    width: 4%;
    height: 2%;
    bottom: 20%;
    left: 40%;
    opacity: 0;
}

.flowerstar {
    /* animation: showtow 1s  forwards infinite ; */
    animation: star 1s forwards infinite;
}

.flowerstar1 {
    /* animation: showtow 1s  forwards infinite ; */
    animation: star1 1s forwards infinite;
}

@keyframes star1 {
    0% {
        opacity: 1;
        transform: scale(0.8);
    }

    50% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 1;
        transform: scale(0.8);
    }
}

.flower2 {
    position: absolute;
    width: 6%;
    height: 2%;
    bottom: 8%;
    left: 86%;
    opacity: 0;
}

.flower3 {
    position: absolute;
    width: 5%;
    height: 3%;
    bottom: 5%;
    left: 81%;
    opacity: 0;
}

.flower4 {
    position: absolute;
    width: 5%;
    height: 2%;
    bottom: 3%;
    left: 3%;
    opacity: 0;
}

/* ad 74*196 75*198 87*207 */
.ad1 {
    position: absolute;
    width: 11%;
    height: 19%;
    bottom: 1.5%;
    left: 10%;
    opacity: 0;

}

.adt {
    animation: shake1 2s linear forwards infinite;
    transform-origin: center center;
}

.ad2 {
    position: absolute;
    width: 11%;
    height: 19%;
    left: 32.5%;
    bottom: 2%;
    opacity: 0;
}

.ad3 {
    position: absolute;
    width: 13%;
    height: 20%;
    bottom: 1.4%;
    left: 20.1%;
    opacity: 0;
}

/* 樱桃 76*73 */
.cherry {
    position: absolute;
    width: 11%;
    height: 7%;
    bottom: 13%;
    right: 8%;
    opacity: 0;
}

/* 茶 117*71 */
.tea {
    position: absolute;
    width: 18%;
    height: 6%;
    right: 22%;
    bottom: 15%;
    opacity: 0;

}

/* 橘子66*77 */
.orange {
    position: absolute;
    width: 10%;
    height: 7%;
    bottom: 13%;
    right: 41%;
    opacity: 0;

}

/* 火锅141*145 */
.pot {
    position: absolute;
    width: 22%;
    height: 14%;
    bottom: 1%;
    right: 24%;
    opacity: 0;

}

/* 星星 31*31 11*10 19*19 11*11 22*22 22*21 22*21 11*11 22*22 10*11 11*11 17*16 */
.sstar {
    position: absolute;
    width: 4.8%;
    height: 3%;
    bottom: 18%;
    left: 7%;
    opacity: 0;

}

@keyframes star {
    0% {
        opacity: 1;
        transform: scale(0.5);
    }

    50% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 1;
        transform: scale(0.5);
    }
}

.sstar1 {
    position: absolute;
    width: 1.7%;
    height: 1%;
    bottom: 14%;
    left: 76%;
    opacity: 0;

}

.sstar2 {
    position: absolute;
    width: 3%;
    height: 2%;
    bottom: 6%;
    left: 77%;
    opacity: 0;

}

.sstar3 {
    position: absolute;
    width: 1.7%;
    height: 1%;
    bottom: 7%;
    left: 86%;
    opacity: 0;

}

.sstar4 {
    position: absolute;
    width: 3.4%;
    height: 2%;
    bottom: 6%;
    left: 49%;
    opacity: 0;

}

.sstar5 {
    position: absolute;
    width: 3.4%;
    height: 2%;
    bottom: 19%;
    left: 77%;
    opacity: 0;

}

.sstar6 {
    position: absolute;
    width: 3.4%;
    height: 2%;
    bottom: 14%;
    left: 44%;
    opacity: 0;

}

.sstar7 {
    position: absolute;
    width: 1.7%;
    height: 1%;
    bottom: 14%;
    left: 7%;
    opacity: 0;

}

.sstar8 {
    position: absolute;
    width: 3.4%;
    height: 2%;
    bottom: 13%;
    left: 63%;
    opacity: 0;

}

.sstar9 {
    position: absolute;
    width: 1.5%;
    height: 1%;
    bottom: 20%;
    left: 57%;
    opacity: 0;

}

.sstar10 {
    position: absolute;
    width: 1.7%;
    height: 1%;
    bottom: 21%;
    left: 20%;
    opacity: 0;

}

.sstar11 {
    position: absolute;
    width: 2.6%;
    height: 1.5%;
    bottom: 6%;
    left: 7%;
    opacity: 0;

}

/* 八 */
.eight-page {
    background-color: #fcfbe8;
    /* background-color: pink; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 8;
}

/* 背景上 589*417 */
.eight-top-bg {
    width: 92%;
    height: 40%;
    position: absolute;
    left: 4%;
    top: 4%;
    opacity: 0;

}

.eight-top-bgt {
    animation: text1 1s forwards;
}

/* 人 347*408 */
.eight-people {
    width: 54%;
    height: 39%;
    position: absolute;
    left: 30%;
    top: 5%;
    opacity: 0;

}

.eight-peoplet {
    animation: text1 1s forwards;
}

/* 燕子 133*145 71*103  */
.bird1 {
    width: 20%;
    height: 14%;
    position: absolute;
    top: 2%;
    right: 2%;
    opacity: 0;

}

.birdt {
    animation: yanzi 2s linear forwards;
}

@keyframes yanzi {
    25% {
        opacity: 1;
        transform: translate(-10px);
    }

    50% {
        opacity: 1;
        transform: translate(-20px);
    }

    75% {
        opacity: 1;
        transform: translate(-30px)
    }

    100% {
        opacity: 1;
        transform: translate(-30px);
    }
}

.bird2 {
    width: 11%;
    height: 10%;
    position: absolute;
    left: 14%;
    top: 5%;
    opacity: 0;
    /* animation: yanzi 2s linear forwards; */
    /* transform: translateY(-30px); */
}

/* 背景左 348*531 */
.eight-left-bg {
    width: 54%;
    height: 51%;
    position: absolute;
    left: 5%;
    top: 43%;
    opacity: 0;

}

.eight-left-bgt {
    animation: enter-x-left 1s ease-in-out;
    animation-fill-mode: forwards;
    transform: translateX(-50px);
}

/* 左人 310*471 */
.eight-left-people {
    width: 48%;
    height: 45%;
    position: absolute;
    left: 8%;
    top: 43.3%;
    opacity: 0;

}

.eight-left-peoplet {
    animation: yaohuang 2s linear forwards;
    transform-origin: top;
}

/* .r5{
    opacity: 1;
} */
@keyframes yaohuang {
    25% {
        transform: skew(-3deg);
        opacity: 1;
    }

    50% {
        transform: skew(0deg);
        opacity: 1;
    }

    75% {
        transform: skew(3deg);
        opacity: 1;

    }

    100% {
        transform: skew(-3deg);
        opacity: 1;
    }
}

/* 右背景 212*158 */
.eight-right-bg1 {
    width: 32%;
    height: 15%;
    position: absolute;
    right: 5%;
    top: 46%;
    opacity: 0;

}

.eight-right-bgt {
    animation: enter-x-left 1s ease-in-out;
    animation-fill-mode: forwards;
    transform: translateX(50px);
}

/* 弹弓 226*179 */
.dangong {
    width: 35%;
    height: 17%;
    position: absolute;
    right: 5.6%;
    top: 44.5%;
    opacity: 0;
    /* animation: shake1 2s linear forwards infinite 4.5s ;
    transform-origin: center center ; */
}

/* 右背景2 214*200 */
.eight-right-bg2 {
    width: 32%;
    height: 19%;
    position: absolute;
    right: 5%;
    bottom: 18%;
    opacity: 0;

}

/* 棉花 197*189 */
.mianhua {
    width: 30%;
    height: 18%;
    position: absolute;
    right: 6%;
    bottom: 16.8%;
    opacity: 0;
}

.nineplay {
    animation: shake1 2s linear forwards infinite;
    transform-origin: center center;
}

/* 右背景下 214*102  */
.eight-right-bg3 {
    width: 33%;
    height: 9%;
    position: absolute;
    right: 5%;
    bottom: 6%;
    opacity: 0;
}

/* 糖葫芦 145*109 198*85  */
.candy {
    width: 22%;
    height: 10%;
    position: absolute;
    right: 3%;
    bottom: 6%;
    opacity: 0;
}

.candy1 {
    width: 30%;
    height: 8%;
    position: absolute;
    right: 7%;
    bottom: 5%;
    opacity: 0;
}

/* 花 43*26 42*26  */
.eight-flower1 {
    width: 6%;
    height: 2%;
    position: absolute;
    right: 34%;
    bottom: 38%;
    opacity: 0;

}

.eight-flower2 {
    width: 6%;
    height: 2%;
    position: absolute;
    right: 3%;
    bottom: 36%;
    opacity: 0;

}

/* 星星 60*60 19*18  23*24 13*12 12*12 13*12 */
.eight-star1 {
    width: 9%;
    height: 5%;
    position: absolute;
    right: 2.5%;
    bottom: 50%;
    opacity: 0;

}

.eight-star2 {
    width: 3%;
    height: 1.7%;
    position: absolute;
    right: 33%;
    bottom: 33%;
    opacity: 0;

}

.eight-star3 {
    width: 3.5%;
    height: 2%;
    position: absolute;
    right: 17%;
    bottom: 15%;
    opacity: 0;

}

.eight-star4 {
    width: 2%;
    height: 1%;
    position: absolute;
    right: 36.8%;
    bottom: 8%;
    opacity: 0;

}

.eight-star5 {
    width: 1.8%;
    height: 1%;
    position: absolute;
    right: 16%;
    bottom: 15%;
    opacity: 0;

}

.eight-star6 {
    width: 2%;
    height: 1%;
    position: absolute;
    right: 32%;
    bottom: 14%;
    opacity: 0;
}


/* 九 */
.nine-page {
    background-color: #fcfbe8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 7;
}

/* 背景 583*968 */
.nine-bg {
    position: absolute;
    width: 91%;
    height: 93%;
    left: 4%;
    top: 4%;
    /* opacity: 0; */
    /* animation: text1 1s forwards; */
}

.nine1t {
    animation: text1 1s forwards;
}

/* AD钙底部椭圆 486*75 486*69 */
/* 从小到大 */
.oval1 {
    position: absolute;
    width: 75%;
    height: 7%;
    left: 10%;
    top: 59%;
    /* opacity: 0; */
}

.oval2 {
    position: absolute;
    width: 75%;
    height: 6%;
    left: 10%;
    top: 59%;
    /* opacity: 0; */
}

/* AD钙 146*388 146*385 172*410 */
.nine-ad1 {
    position: absolute;
    width: 22%;
    height: 37%;
    left: 14%;
    top: 26%;
    /* opacity: 0; */
}

.nine-ad3 {
    position: absolute;
    width: 22%;
    height: 37%;
    left: 60%;
    top: 26.5%;
    /* opacity: 0; */

}

.nine-ad2 {
    position: absolute;
    width: 26%;
    height: 40%;
    left: 35%;
    top: 24%;
    /* opacity: 0; */

}

/* 口味 102*25 60*30 75*27 */
.taste1 {
    position: absolute;
    width: 15%;
    height: 2.4%;
    left: 18.2%;
    top: 21%;
    opacity: 0;
    animation: text1 1s forwards 1s;
}

.taste2 {
    position: absolute;
    width: 9%;
    height: 2.9%;
    left: 44%;
    top: 18.5%;
    opacity: 0;
    animation: text1 1s forwards 2s;
}

.taste3 {
    position: absolute;
    width: 11%;
    height: 2.6%;
    left: 66.5%;
    top: 20.8%;
    opacity: 0;
    animation: text1 1s forwards 3s;
}

/* 人 150*175 145*171 */
.nine-people1 {
    position: absolute;
    width: 23%;
    height: 16%;
    left: 24%;
    bottom: 9%;
    /* opacity: 0; */
    animation: shake 2s linear infinite;
}

@keyframes shake2 {
    0% {
        opacity: 1;
        transform: rotate(-5deg);
    }

    25% {
        opacity: 1;
        transform: rotate(0deg);
    }

    50% {
        opacity: 1;
        transform: rotate(-5deg);
    }

    75% {
        opacity: 1;
        transform: rotate(0deg);
    }

    100% {
        opacity: 1;
        transform: rotate(-5deg);
    }
}

/* .nineshake{
    animation: shake 1s linear infinite;
} */

.nine-people2 {
    position: absolute;
    width: 22%;
    height: 16%;
    right: 26%;
    bottom: 9%;
    /* opacity: 0; */
    animation: shake 2s linear infinite;
}

/* 白框 116*42 */
.frame1 {
    position: absolute;
    width: 18%;
    height: 4%;
    left: 40%;
    top: 18%;
    opacity: 0;
    animation: text1 1s forwards 2s;
}

.frame2 {
    position: absolute;
    width: 18%;
    height: 4%;
    left: 17%;
    top: 20%;
    opacity: 0;
    animation: text1 1s forwards 1s;
}

.frame3 {
    position: absolute;
    width: 18%;
    height: 4%;
    left: 63%;
    top: 20%;
    opacity: 0;
    animation: text1 1s forwards 3s;
}

/* 星星 25*25 70*69 60*60 41*41 62*62 60*59 41*41 34*33 34*34 23*23 23*23 */
.nine-star1 {
    position: absolute;
    width: 3.9%;
    height: 2.4%;
    left: 8%;
    top: 73%;
    /* opacity: 0; */
    animation: star 1s forwards infinite;
}

.nine-star2 {
    position: absolute;
    width: 10%;
    height: 6.6%;
    left: 14%;
    top: 10%;
    /* opacity: 0; */
    animation: star 1s forwards infinite;
}

.nine-star3 {
    position: absolute;
    width: 9.3%;
    height: 5.8%;
    left: 83%;
    top: 15%;
    /* opacity: 0; */
    animation: star 1s forwards infinite;
}

.nine-star4 {
    position: absolute;
    width: 6.4%;
    height: 4%;
    left: 45%;
    top: 91%;
    /* opacity: 0; */
    animation: star 1s forwards infinite;
}

.nine-star5 {
    position: absolute;
    width: 9.6%;
    height: 6%;
    left: 80%;
    top: 70%;
    /* opacity: 0; */
    animation: star 1s forwards infinite;
}

.nine-star6 {
    position: absolute;
    width: 9%;
    height: 5.7%;
    left: 11%;
    top: 89%;
    /* opacity: 0; */
    animation: star 1s forwards infinite;
}

.nine-star7 {
    position: absolute;
    width: 6.4%;
    height: 4%;
    left: 60%;
    top: 13%;
    /* opacity: 0; */
    animation: star 1s forwards infinite;
}

.nine-star8 {
    position: absolute;
    width: 5.3%;
    height: 3.2%;
    left: 7%;
    top: 65%;
    /* opacity: 0; */
    animation: star 1s forwards infinite;
}

.nine-star9 {
    position: absolute;
    width: 5.3%;
    height: 3.3%;
    left: 31%;
    top: 6%;
    /* opacity: 0; */
    animation: star 1s forwards infinite;
}

.nine-star10 {
    position: absolute;
    width: 3.5%;
    height: 2.2%;
    left: 6%;
    top: 23%;
    /* opacity: 0; */
    animation: star 1s forwards infinite;


}

.nine-star11 {
    position: absolute;
    width: 3.5%;
    height: 2.2%;
    left: 85%;
    top: 41%;
    /* opacity: 0; */
    animation: star 1s forwards infinite;
}

/* 字392*31 */
.nine-text {
    width: 61%;
    height: 3%;
    position: absolute;
    left: 18%;
    bottom: 29%;
    /* opacity: 0; */

}

/* logo 199*65 */
.logo {
    width: 31%;
    height: 6.3%;
    position: absolute;
    right: 8%;
    top: 6%;
    /* opacity: 0; */

}